/* src/components/Footer.css */

.footerfinalall {
    text-align: center;
    padding: 2px;
    background: #e0e0e0 !important;
    font-family: 'Jockey One', sans-serif !important;
    font-size: 1.2rem;
  }
  
  .footer-link {
    cursor: pointer;
    text-decoration: underline;
    color: black;
  }
  
  .footer-link:hover {
    color: #30B0C7;
  }
  